<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home :: header"></head>
<head>
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {


        });
    </script>
</head>
<body id="page-top" th:classappend="${bodyClass}">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="home :: sidebar"/>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="home :: topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 th:if="${storeList.isEmpty()}" class="h3 mb-2 text-gray-800"
                    th:text="'\'' + ${keyword} + '\'에 대한 검색 결과가 없습니다.'">검색결과가 없습니다.</h1>
                <div th:unless="${storeList.isEmpty()}">
                    <h1 th:text="'\''+${keyword}+'\' 검색결과'" class="h3 mb-2 text-gray-800">검색결과</h1>
                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-4" th:each="store : ${storeList}">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body d-flex justify-content-between">
                                <!-- 가게 정보 -->
                                <div>
                                  <a th:href="@{/stores/detail/{storeId}(storeId=${store.id})}">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${store.storeName}"></div>
                                  </a>
                                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" th:text="${store.district.city.cityName}+' '+${store.district.districtName}+' '+${store.detailAddress}"></div>
                                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1" th:text="'🕙 '+${store.openingTime}+'-'+${store.closingTime}"></div>
                                </div>
                                <!-- 가게 이미지 -->
                                <div class="align-self-end">
                                  <a th:href="@{/stores/detail/{storeId}(storeId=${store.id})}" class="bookmark-btn">
                                    <input hidden id="bookmarkId" th:value="${store.id}">
                                    <img th:src="'/img/'+${store.storeName}+'.PNG'" alt="가게이미지" style="width: 80px; height: auto;">
                                  </a>
                                </div>
                              </div>

                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <div th:replace="home :: footer"/>
    <!-- Script to set selected cityId and districtId -->

</body>
</html>