<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home :: header">
    <style>
        .active {
            background-color: #007bff;
            color: #fff;
        }
    </style>
</head>
<head>
    <script th:inline="javascript">
        $(document).ready(function () {
            <!-- cityId 선택 되었을 때 districtList 얻어오는 ajax -->
            $('#sido').change(function () {
                var selectedCityId = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '/districts/list/' + selectedCityId,
                    success: function (data) {
                        var options = '';
                        $.each(data, function (index, district) {
                            options += '<option value="' + district.id + '">' + district.districtName + '</option>';
                        });
                        $('#sigungu').html(options);
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to retrieve district list:', error);
                    }
                });
            });
            <!-- cityId 선택 되었을 때 districtList 얻어오는 ajax END -->

            <!-- 카테고리 링크 클릭 시 Ajax 요청을 보내서 List<storeDTO> 받아와 출력 -->
            $('[id^=categoryLink]').click(function (e) {
                e.preventDefault();
                <!-- 클릭한 한중일양카 a 태그 css 적용 -->
                // 모든 카테고리 링크에서 active 클래스 제거
                $('[id^=categoryLink]').removeClass('active');
                // 클릭한 카테고리 링크에 active 클래스 추가
                $(this).addClass('active');
                <!-- 클릭한 한중일양카 a 태그 css 적용 END -->

                var categoryId = $(this).find('input[type="hidden"]').val();
                var selectedDistrictId = $('#sigungu').val();

                // 새로운 URI 구성
                var newUrl = '/stores/category/' + categoryId + '/district/' + selectedDistrictId;

                $.ajax({
                    type: 'GET',
                    url: newUrl,
                    success: function (data) {
                        // 이전 내용을 지우기
                        $('#storeDTOContainer').empty();

                        // 받아온 data를 문장 만들어 storeCard 변수에 저장해서 $('#storeDTOContainer') 추가하는 작업 반복수행
                        $.each(data, function (index, storeDTO) {
                            var storeCard = '<div class="col-xl-3 col-md-6 mb-4">' +
                                '<div class="card border-left-info shadow h-100 py-2">' +
                                '<div class="card-body">' +
                                '<div class="row no-gutters align-items-center">' +
                                '<div class="col mr-2">' +
                                '<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">' + storeDTO.storeStatus + '</div>' +
                                '<a href="/stores/detail/' + storeDTO.id + '">' +
                                '<div class="h5 mb-0 font-weight-bold text-gray-800">' + storeDTO.storeName + '</div>' +
                                '</a>' +
                                '<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">' + storeDTO.cityName + ' ' + storeDTO.districtName + ' ' + storeDTO.detailAddress + '</div>' +
                                '<div class="text-xs font-weight-bold text-success text-uppercase mb-1">' +'🕙 '+ storeDTO.openingTime + '-' + storeDTO.closingTime + '</div>' +
                                '</div>' +
                                '<div class="col-auto">' +
                                '<a href="/stores/detail/' + storeDTO.id + '">' +
                                '<img src="/img/' + storeDTO.storeName + '.PNG" alt="가게 이미지" style="width: 80px; height: auto;">' +
                                '</a>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>';

                            // $('#storeDTOContainer')에 storeCard 문장 추가
                            $('#storeDTOContainer').append(storeCard);
                        });

                        // $('#storeDTOContainer') 만들었던 반복문문장 보여주기
                        $('#storeDTOContainer').show();
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to retrieve store list:', error);
                    }
                });
            });
            <!-- 카테고리 링크 클릭 시 Ajax 요청을 보내서 List<storeDTO> 받아와 출력 END -->

        });
    </script>
</head>
<body id="page-top" th:classappend="${bodyClass}">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="home :: sidebar"/>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="home :: topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">카테고리 선택</h6>
                    </div>
                    <div class="card-body">
                        <!-- 카테고리(한식/중식/일식/양식/카페) 클릭 부분 -->
                        <a id="categoryLink0" href="#" class="btn btn-primary btn-icon-split">
                            <input type="hidden" id="category0Id" th:value="${categoryList[0].getId()}"/>
                            <span class="text" th:text="${categoryList[0].getCategoryName()}"></span>
                        </a>
                        <a id="categoryLink1" href="#" class="btn btn-success btn-icon-split">
                            <input type="hidden" id="category1Id" th:value="${categoryList[1].getId()}"/>
                            <span class="text" th:text="${categoryList[1].getCategoryName()}"></span>
                        </a>
                        <a id="categoryLink2" href="#" class="btn btn-info btn-icon-split">
                            <input type="hidden" id="category2Id" th:value="${categoryList[2].getId()}"/>
                            <span class="text" th:text="${categoryList[2].getCategoryName()}"></span>
                        </a>
                        <a id="categoryLink3" href="#" class="btn btn-warning btn-icon-split">
                            <input type="hidden" id="category3Id" th:value="${categoryList[3].getId()}"/>
                            <span class="text" th:text="${categoryList[3].getCategoryName()}"></span>
                        </a>
                        <a id="categoryLink4" href="#" class="btn btn-danger btn-icon-split">
                            <input type="hidden" id="category4Id" th:value="${categoryList[4].getId()}"/>
                            <span class="text" th:text="${categoryList[4].getCategoryName()}"></span>
                        </a>
                        <!-- 카테고리(한식/중식/일식/양식/카페) 클릭 부분 END -->

                        <!-- 도, 시군구 위치 선택 select 부분 -->
                        <label>위치 선택: </label>
                        <select name="sido" id="sido">-->
                            <option th:each="city : ${cityList}"
                                    th:value="${city.id}"
                                    th:text="${city.cityName}"></option>
                        </select>
                        <select name="sigungu" id="sigungu">
                            <option value="----">----</option>
                        </select>
                        <!-- 도, 시군구 위치 선택 select 부분 END -->
                    </div>
                </div>
                <!-- 여기에 StoreDTO 출력 -->
                <div class="row" id="storeDTOContainer" style="display: none; flex-wrap: wrap;">
                    <!-- 여기에 ajax로 받아온 것 for문으로 출력(위의 script로 데이터 셋팅하기) -->
                </div>
                <!-- 여기에 StoreDTO 출력 END -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<div th:replace="home :: footer"/>
</body>
</html>
