<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header">
<body id="page-top" th:classappend="${bodyClass}">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="fragments/layout :: sidebar"/>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="fragments/layout :: topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">PlaceNOW
                        <i class="fas fa-laugh-wink"></i>
                    </h1>
                </div>
                <p>안녕하세요! 플레이스 나우에 오신 걸 환영합니다 :) </p>
                <p>플레이스 나우는 모든 음식점을 편하게 예약하고 방문할 수 있는 서비스를 제공해 주는 웹 사이트 입니다.</p>
                <p>방문 전 웨이팅 없이 예약으로 오늘 하루를 즐기시길 바랍니다.</p>
                <p>지금 바로 PlaceNOW를 즐기세요. &#127834;&#127835;&#127836;&#127837;&#127839;&#127843;&#127829;&#127847;&#127856;&#127828;&#127844;&#127867;</p>
                <div th:if="${user}">
                    <span th:text="${user.getEmail()}"></span>
                </div>
                <div th:unless="${user}">
                    <a th:href="@{/oauth2/authorization/google}" class="btn btn-success active" role="button">Google</a>
                </div>
                <div th:if="${user}">
                    Logged in as : <span id="user" th:text="${user.getName()}"></span>
                    <a th:href="@{/logout}" class="btn btn-info active" role="button">Logout</a>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<div th:replace="fragments/layout :: footer"/>
</body>
</html>