<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home :: header"></head>
<head>
    <style>
        /* 선택된 시간 클릭시 표시 */
        .time.selected {
            background-color: yellow; /* 배경색을 노란색으로 변경 */
            color: black; /* 텍스트 색상을 검정색으로 변경 */
            font-weight: bold; /* 텍스트를 굵게 표시 */
            border: 2px solid black; /* 테두리를 검정색으로 두껍게 설정 */
        }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script th:inline="javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script th:inline="javascript">

        $(document).ready(function () {
            // 인원수 감소 버튼
            $(".minus-btn").click(function (e) {
                e.preventDefault();
                var value = parseInt($('#numberOfPeople').val(), 10);
                value = isNaN(value) ? 1 : value; // 숫자가 아니면 기본값 1 사용
                if (value > 1) {
                    $('#numberOfPeople').val(value - 1);
                }
            });

            // 인원수 증가 버튼
            $(".plus-btn").click(function (e) {
                e.preventDefault();
                var value = parseInt($('#numberOfPeople').val(), 10);
                value = isNaN(value) ? 1 : value; // 숫자가 아니면 기본값 1 사용
                $('#numberOfPeople').val(value + 1);
            });

            var selectedDate; // 선택된 날짜 저장 변수
            var minDate = 0; // 달력 시작 날짜를 오늘 날짜로 default 설정

            var closingTime = $('#closingTime').val();

            // 현재 시,분 구하기
            var currentTime = new Date();
            var currentHour = currentTime.getHours();
            var currentMinute = currentTime.getMinutes();

            // 클로징 시간 이후 30분 전 시간 계산
            var closingHour = parseInt(closingTime.split(':')[0]);
            var closingMinute = parseInt(closingTime.split(':')[1]);
            var closingMinus30 = new Date();
            closingMinus30.setHours(closingHour);
            closingMinus30.setMinutes(closingMinute - 30);

            // 현재 시간이 (클로징시간-30분) 이후면 예약가능한 시작날짜를 다음날 날짜로 설정
            if (currentTime >= closingMinus30) {
                // 다음날 날짜로 설정
                var tomorrow = new Date();
                tomorrow.setDate(tomorrow.getDate() + 1);
                minDate = tomorrow;
            }

            <!-------------- 달력 셋팅 및 예약 가능 시간 ajax 요청 ----------->
            $("#datepicker").datepicker({
                minDate: minDate, //날짜 셋팅
                dateFormat: 'yy-mm-dd', // 날짜 형식 지정
                onSelect: function (dateText, inst) {
                    var selectedDateObject = $(this).datepicker('getDate'); // 선택된 날짜를 Date 객체로 변환
                    selectedDate = $.datepicker.formatDate('yy-mm-dd', selectedDateObject); // "yyyy-MM-dd" 형식으로 포맷팅하여 저장
                    var storeId = $("#storeId").val(); // storeId 가져오기
                    var url = "/reservations/" + storeId + "/availability/" + selectedDate; // URL 생성

                    //ajax 요청한 뒤 예약가능시간 List받아와 출력
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (data) {
                            // 이전 내용을 지우기
                            $('#ReservationAbleTimeDTOContainer').empty();

                            // 받아온 data를 문장 만들어 timeCard 변수에 저장해서 $('#ReservationAbleTimeDTOContainer') 추가하는 작업 반복수행
                            $.each(data, function (index, ableTimeDTO) {
                                var timeCard = '<a class="time btn btn-warning btn-icon-split" style="margin-right: 5px; margin-bottom: 5px; margin-top: 5px;">' +
                                    '<span class="text" style="font-weight: bold;">' + ableTimeDTO.reservationTime + '</span>' +
                                    '</a>';
                                $('#ReservationAbleTimeDTOContainer').append(timeCard);
                            });
                            $('#ReservationAbleTimeDTOContainer').show();
                            console.log("Reservation request successful!");
                            console.log(data); // 받은 데이터 로깅
                        },
                        error: function (xhr, status, error) {
                            console.error("Error making reservation request:", error);
                        }
                    });
                }
            });
            <!-------------- 달력 셋팅 및 예약 가능 시간 ajax 요청 END ----------->

            // 시간을 선택하는 클릭 이벤트 리스너 추가(기본 부트스트랩 작업 제거)
            $(document).on('click', '.time', function () {
                // 선택된 시간에 selected 클래스를 추가하고 이전에 선택된 시간의 클래스를 제거합니다.
                $('.time').removeClass('selected');
                $(this).addClass('selected');
            });

            <!-------------- 예약하기 버튼 클릭 시 ajax 요청 ----------->
            $("#reservationButton").click(function (e) {
                e.preventDefault();

                var storeId = $("#storeId").val();
                // 날짜와 시간을 선택했는지 확인
                var selectedDate = $("#datepicker").val();
                var selectedTime = $("#ReservationAbleTimeDTOContainer").find(".selected").text();
                var numberOfPeople = $("#numberOfPeople").val(); // 인원수 가져오기

                // 선택되지 않은 경우 알림 표시
                if (!selectedDate || !selectedTime) {
                    alert("날짜, 시간을 모두 선택해주세요.");
                    return;
                }

                var requestData = {
                    storeId: storeId,
                    selectedDate: selectedDate,
                    selectedTime: selectedTime,
                    numberOfPeople: numberOfPeople
                };

                //선택한 예약날짜, 예약시간, 인원수를 JSON으로 담아 '/reservations/{storeId}'로 POST 요청
                $.ajax({
                    type: "POST",
                    url: "/reservations",
                    contentType: "application/json",
                    data: JSON.stringify(requestData),
                    success: function (response) {
                        console.log("Reservation request successful!");
                        console.log(response); // 서버 응답 로깅

                        //예약성공했다는 알림창과 함께 "/"로 링크 이동
                        alert("예약이 성공적으로 완료되었습니다.");
                        window.location.href = "/";
                    },
                    error: function (xhr, status, error) {
                        var errorMessages = xhr.responseJSON.errors; // 서버에서 전달된 모든 에러 메시지
                        errorMessages.forEach(function(errorMessage) {
                            $('#reservationButton').after('<div class="text-danger">' + errorMessage + '</div>');
                        });
                    }
                });
            });
            <!-------------- 예약하기 버튼 클릭 시 ajax 요청 END -------->
        });

    </script>
</head>
<body id="page-top" th:classappend="${bodyClass}">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="home :: sidebar"/>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="home :: topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">
                        예약 페이지
                    </h1>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <!-- 카드 안에 내용 시작 -->
                        <input type="hidden" id="storeId" th:value="${store.id}"/>
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800" th:text="${store.storeName}">가게이름</h1>
                        </div>
                        <img th:src="'/img/' + ${store.storeName} + '.PNG'" alt="가게 이미지"
                             style="max-width: 10%; height: auto;"><br><br>
                        <span th:text="${store.categoryName}">카테고리 이름</span><br>
                        <h6 id="storeStatus" class="m-0 font-weight-bold text-primary" th:text="${store.storeStatus}">
                            영업상태</h6>
                        <span th:text="${store.cityName}+' '+${store.districtName}+' '+${store.detailAddress}">주소</span><br>
                        <span th:text="'&#128345;'+${store.openingTime}+'-'+${store.closingTime}">운영시간</span><br>
                        <input type="hidden" id="openingTime" th:value="${store.openingTime}"/>
                        <input type="hidden" id="closingTime" th:value="${store.closingTime}"/>
                    </div>

                    <div class="card-body">
                        <p>날짜 선택</p>
                        <!-- Datepicker 추가 -->
                        <input type="text" id="datepicker" name="datepicker" class="form-control" placeholder="날짜 선택"
                               style="width: 300px; height: auto;">
                        <br>
                        <p>시간 선택</p>
                        <!-- 여기에 ReservationAbleTimeDTO 출력 -->
                        <div class="row" id="ReservationAbleTimeDTOContainer" style="display: none; flex-wrap: wrap;">
                            <!-- 여기에 ajax로 받아온 것 for문으로 출력(위의 script로 데이터 셋팅하기) -->
                        </div>
                        <!-- 여기에 ReservationAbleTimeDTO 출력 END -->

                        <p>인원수</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary minus-btn" type="button">-</button>
                            </div>
                            <input type="text" class="form-control" id="numberOfPeople" value="1" style="width: 30px;">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary plus-btn" type="button">+</button>
                            </div>
                        </div>
                        <a href="#" id="reservationButton" class="btn btn-success btn-icon-split btn-lg">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">&nbsp; 예약하기 &nbsp;</span>
                        </a>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<div th:replace="home :: footer"/>
</body>
</html>
