<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home :: header"></head>
<head>
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            <!--예약취소버튼 클릭시 취소 요청 ajax -->
            $(".cancel-button").click(function (e) {
                e.preventDefault();
                var reservationId = $(this).data("reservation-id")
                if (confirm("정말로 예약을 취소하시겠습니까?")) {
                    $.ajax({
                        type: "DELETE",
                        url: "/reservations/" + reservationId, // 예약 취소를 처리하는 엔드포인트 URL
                        success: function (response) {
                            // 성공적으로 예약을 취소한 경우 페이지 새로고침하여 예약 목록 페이지로 이동
                            window.location.href = "/reservations/list";
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                }

            });
            <!--예약취소버튼 클릭시 취소 요청 ajax -->
        });
    </script>
</head>
<body id="page-top" th:classappend="${bodyClass}">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="home :: sidebar"/>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="home :: topbar"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">예약 목록 페이지</h1>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">예약 목록</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>가게이름</th>
                                    <th>예약날짜</th>
                                    <th>예약시간</th>
                                    <th>인원수</th>
                                    <th>예약접수일</th>
                                    <th>예약취소</th>
                                </tr>
                                </thead>
                                <tbody th:if="${#session.getAttribute('reservationList') != null}">
                                <tr th:each="reservation : ${#session.getAttribute('reservationList')}">
                                    <td th:text="${#session.getAttribute('reservationList').size() - reservationStat.index}">
                                        번호
                                    </td>
<!--                                    <a th:href="@{/stores/detail/{storeId}(storeId=${reservation.store.id})}">-->
                                    <td th:text="${reservation.storeName}">가게이름</td>
<!--                                    </a>-->
                                    <td th:text="${reservation.selectedDate}">예약날짜</td>
                                    <td th:text="${reservation.selectedTime}">예약시간</td>
                                    <td th:text="${reservation.numberOfPeople}+' 명'">인원수</td>
                                    <td th:text="${reservation.createdDate}">예약접수일</td>
                                    <td>
                                        <button class="btn btn-danger btn-icon-split cancel-button" type="button"
                                                th:attr="data-reservation-id=${reservation.id}">
                                            <span class="text">예약 취소</span>
                                        </button>
                                    </td>


                                </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<div th:replace="home :: footer"/>
<!-- Script to set selected cityId and districtId -->

</body>
</html>
